.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 16px;
  max-width: 1184px;
  padding-left: 48px;
  padding-right: 48px;
  margin-top: 118px;
}

.gallery__image {
  width: 100%;
  min-height: 100%;
  max-height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 920px) {
  .gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 16px;
    padding-left: 24px;
    padding-right: 24px;
    margin-top: 90px;
  }
}

@media screen and (max-width: 500px) {
  .gallery {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
    grid-gap: 12px;
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 90px;
  }
}
