.hero {
    font-family: "Inter", Arial, sans-serif; 
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero__title {
    margin-top: 90px;
    margin-bottom: 0;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    max-width: 793px;
}

.hero__subtitle {
    margin-top: 32px;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    max-width: 793px;
}

@media screen and (max-width: 738px) {
    .hero__title {
        margin-top: 50px;
    }

    .hero__subtitle {
        margin-top: 16px;
    }
    
}

@media screen and (max-width: 500px) {
    .hero__title {
        font-size: 40px;
        line-height: 44px;
    }

    .hero__subtitle {
        font-size: 16px;
        line-height: 20px;
    }
}