.hero {
  font-family: "Inter", Arial, sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding-right: 148px;
  padding-left: 148px;
}

.hero__title {
  margin-top: 90px;
  margin-bottom: 0;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  max-width: 793px;
  align-self: center;
}

.hero__subtitle {
  margin-top: 32px;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  max-width: 793px;
  align-self: center;
}

.hero__image {
  display: flex;
  margin-top: 64px;
  margin-bottom: 92px;
}

@media screen and (max-width: 1279px) {
  .hero {
    padding-right: 12%;
    padding-left: 12%;
  }
}

@media screen and (max-width: 798px) {
  .hero {
    padding-right: 0;
    padding-left: 0;
  }
  .hero__title {
    margin-top: 90px;
    padding-right: 24px;
    padding-left: 24px;
    padding-bottom: 0;
  }

  .hero__subtitle {
    margin-top: 32px;
    padding-right: 24px;
    padding-left: 24px;
  }
  .hero__image {
    margin-top: 36px;
    margin-bottom: 88px;
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (max-width: 540px) {
  .hero__title {
    margin-top: 50.15px;
    font-size: 40px;
    line-height: 44px;
  }

  .hero__subtitle {
    font-size: 16px;
    line-height: 20px;
  }
  .hero__image {
    margin-top: 40px;
    margin-bottom: 64px;
  }
}
