.places {
  display: flex;
  flex-direction: column;
  max-width: 987px;
  padding-left: 145px;
  padding-right: 148px;
}

.place {
  display: grid;
  grid-template-columns: 460px 1fr;
  grid-gap: 48px 40px;
  grid-template-areas:
    "location artist"
    "image content"
    "button content"
    ". content";
  margin-top: 80px;
}

.place:first-of-type {
  margin-top: 92px;
}

.place__location {
  font-family: "Inter-Black", Arial, sans-serif;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  margin-top: 0;
  margin-bottom: 0;
}

.place__image {
  grid-area: image;
  width: 100%;
  max-width: 100%;
  object-fit: cover;
}

.place__artist {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}

.place__artist-heading {
  font-size: 12px;
  line-height: 15px;
  font-weight: 400;
  letter-spacing: 3px;
  color: #aaaaaa;
  margin-bottom: 8px;
}

.place__artist-name {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
}

.place__description {
  font-size: 18px;
  line-height: 163%;
  font-weight: 400;
  grid-column: 2/-1;
  grid-row: 2/-1;
}

.place__paragraph {
  margin-top: 0;
}

.place__paragraph:last-of-type {
  margin-bottom: 0;
}

.place__button {
  width: 248px;
  height: 48px;
  background: #0278fe;
  border-radius: 4px;
  color: #ffffff;
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  border: none;
  transition: 0.3s;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 1/2;
  grid-row: 3/4;
}

.place__button:hover {
  background: #0063d2;
}

@media screen and (max-width: 1200px) {
  .places {
    padding-left: 5%;
    padding-right: 5%;
  }
}

@media screen and (max-width: 1000px) {
  .places {
    padding-left: 24px;
    padding-right: 24px;
  }

  .place {
    grid-template-columns: 1fr 1fr;
    grid-gap: 48px 28px;
    margin-top: 72px;
  }

  .place__location {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    font-size: 42px;
    line-height: 46px;
  }

  .place__description {
    grid-column: 2/-1;
    grid-row: 2/-1;
    font-size: 16px;
    line-height: 163%;
    font-weight: 400;
    padding-top: 0;
  }

  .place__button {
    grid-column: 1/2;
    grid-row: 3/4;
  }

  .place__image {
    max-width: 460px;
    position: relative;
  }
}

@media screen and (max-width: 530px) {
  .places {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 0;
    padding-right: 0;
  }

  .place {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    padding-left: 0;
    padding-right: 0;
    grid-gap: 0;
  }

  .place__image {
    padding-left: 16px;
    padding-right: 16px;
    box-sizing: border-box;
    align-self: center;
  }

  .place__location {
    margin-bottom: 30px;
    font-size: 32px;
    padding-left: 16px;
    padding-right: 16px;
  }

  .place__artist {
    margin-bottom: 30px;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 18px;
  }

  .place:first-of-type {
    margin-top: 62px;
  }

  .place__description {
    margin-top: 30px;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 16px;
    line-height: 163%;
    font-weight: 400;
  }

  .place__description:last-of-type {
    margin-top: 25px;
  }

  .place__paragraph:last-of-type {
    margin-bottom: 0;
  }

  .place__button {
    margin-top: 30px;
    margin-bottom: 0;
    padding-left: 18px;
    padding-right: 18px;
    align-self: center;
  }
}
