.visit-us {
  background-image: url(../images/__background-visit-us.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 92px;
  padding-left: 48px;
  padding-right: 48px;
  min-height: 740px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.visit-us::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: #2a2c2f;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 0.3s;
}

.visit-us:hover:after {
  opacity: 0.8;
}

.visit-us__title {
  font-size: 72px;
  font-weight: 900;
  line-height: 76px;
  margin-top: 0;
  margin-bottom: 32px;
  position: relative;
  z-index: 1;
}

.visit-us__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 1;
}

.visit-us__content-info {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  margin: 0;
}

.visit-us__button {
  width: 137px;
  height: 48px;
  margin-top: 32px;
  background: #0278fe;
  border-radius: 4px;
  color: #ffffff;
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  border: none;
  transition: 0.3s;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.visit-us__button:hover {
  background: #0063d2;
}

@media screen and (max-width: 500px) {
  .visit-us {
    margin-top: 64px;
    padding-left: 0;
    padding-right: 0;
    min-height: 254px;
  }

  .visit-us__title {
    font-size: 32px;
    line-height: 35px;
    margin-bottom: 16px;
  }

  .visit-us__content-info {
    font-size: 14px;
    line-height: 16px;
    margin: 0;
  }

  .visit-us__button {
    margin-top: 16px;
  }
}
