@import url("../vendor/normalize.css");

@import url("../fonts/fonts.css");

@import url("../blocks/page.css");

@import url("../blocks/header.css");

@import url("../blocks/hero.css");

@import url("../blocks/intro-places.css");

@import url("../blocks/gallery.css");

@import url("../blocks/places.css");

@import url("../blocks/visit-us.css");

@import url("../blocks/footer.css");
